* {

    font-family: Helvetica, Arial, sans-serif, "Segoe UI Emoji";

    outline: none;
    scroll-behavior: smooth;

}

html {

    height: 100%;

}

body {

    height: 100%;
    overflow: auto;

}

img {

    max-width: 100%;

}

a:visited {

    color: blue;

}